src/main/mule/ci-cd-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e25147c3-507f-40e0-8ede-111854fd8416" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cd-demo-apiFlow" doc:id="a3613315-2bdd-42b9-8115-d255784e4942" >
		<http:listener doc:name="Listener" doc:id="15232e07-d933-4964-9a69-14e42d223062" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="d186d9fe-4a3f-46f2-b13b-42eb5bd8b512" message="It works"/>
		<set-payload value='#["it works"]' doc:name="Set Payload" doc:id="bed7c81b-5b0a-4e85-a3b4-9bc8a4a0e27e" />
	</flow>
</mule>
